---
layout: page
---

{{ content }}

{% assign category_order = "Principal Investigator, Postdoctoral Researcher, PhD Researcher" | split: ", " %}
{% assign ordered_projects = site[show_collection] | default:empty_col | group_by: "category" %}
{% assign ordered_groups = ordered_projects | sort: "name" %}

{% for category in category_order %}
  {% assign group = ordered_projects | where: "name", category %}
  {% if group %}
    <h2 id="{{ category | slugify }}">{{ category }}</h2>
    <div class="columns {% unless no_third_column %}columns-break{% endunless %}">
      {% for project in group %}
        {% assign featured = page.featured | default:project.featured | default:page.big_project | default:project.big_project %}
        <div class="column {% if featured %}column-1{% else %}column-1-2{% endif %}">
          {% include_cached pro/project-card.html project=project featured=featured %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endfor %}
