---
layout: page
---

{{ content }}

{% assign show_collection = page.show_collection | default:"people" %}
{% assign empty_col = '' | split:'.' %}
{% assign collection_items = site[show_collection] | default:empty_col %}

{% if collection_items != empty_col %}
  {% assign ordered_projects = collection_items | group_by: "category" %}

  <!-- Define the desired category order -->
  {% assign category_order = "Principal Investigator, Postdoctoral Researcher, Doctoral Researcher" | split: ", " %}

  {% for category in category_order %}
    {% assign group = ordered_projects | where: "name", category %}
    {% if group %}
      <h2 id="{{ category | slugify }}">{{ category }}</h2>
      <div class="columns {% unless no_third_column %}columns-break{% endunless %}">
        {% for project in group.first.items %}
          {% assign featured = page.featured | default:project.featured | default:page.big_project | default:project.big_project %}
          <div class="column {% if featured %}column-1{% else %}column-1-2{% endif %}">
            {% include_cached pro/project-card.html project=project featured=featured %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
{% else %}
  <p>No items found in the collection "{{ show_collection }}".</p>
{% endif %}
