---
layout: page
---

{{ content }}

{% assign show_collection = page.show_collection | default:"research" %}
{% assign empty_col = '' | split:'.' %}
{% assign ordered_research = site[show_collection] | default:empty_col | sort: "title" %}
{% assign no_third_column = page.no_third_column | default:site.hydejack.no_third_column | default:false %}

<div class="columns {% unless no_third_column %}columns-break{% endunless %}">
  {% for research in ordered_research %}
    <div class="column column-1-2">
      {% include_cached pro/project-card.html project=research %}
    </div>
  {% endfor %}
</div>
